%h2 Creating the Sandbox server

%p
  First step is logging into StackFu and creating a new Server.
  
%p
  Click the #{"<b>Servers</b>"} tab to go to the Servers page:
  
%img{ :src => '/images/stackup-01.png' }

%p
  Click #{"<b>Add a server</b>"} and add a new server called #{"<b>sandbox</b>"}:
  
%img{ :src => '/images/stackup-02.png' }

%p
  And click #{"<b>Save Server</b>"}:
  
%img{ :src => '/images/stackup-03.png' }
  
%p
  Let's now learn how to #{link 'setup your local sandbox', '/setting_up/'} virtual machine.