--- 
title: Main
---

%h2 StackFu Documentation

%p This is the main resource for learning how to use StackFu. 

%p 
  For starters, we recommend you read our
  = link 'Installation'
  section and then head over to the 
  = "#{link 'Quick Start'}"
  guide.
  It will give you a walk through of how you can create
  a new script in five minutes.
  
%p
  If you're interested in other topics, check out the following resources:
  
%table.toc
  %tr
    %td{ :width => '50%' }
      %h3 Writing Scripts

      %ul
        %li 
          = link 'Introduction', 'intro'
          will teach you what a script consists of and
          how to properly describe your script;
        %li
          = link 'Controls'
          talks about what you need to setup so you can
          acquire input from the user when installing
          your script;
        %li
          = link 'Requirements'
          explains how to check an existing server
          environment for prerequisites before the
          installation starts;
        %li
          = link 'Executions'
          section has a thorough explanation of how
          you can combine the power of Bash scripts
          with ERB templating to execute the tasks
          you need while installing;
        %li
          = link 'Validations'
          shows how to analyze the environment after
          the installation and determine whether it
          was successful or not.
    %td
      %h3 CLI Interface

      %ul
        %li 
          = link 'Usage'
          is a brief introduction of what's available
          from the command line, and how to configure
          and start using the StackFu RubyGem;
        %li 
          = link 'Create'
          explains the command used to create new 
          scripts;
        %li 
          = link 'Dump'
          is the command used when you download a script
          to your filesystem so you can work on it, and
          eventually publish. This is also the command
          used to "clone" other user's script;
        %li 
          = link 'Publish'
          will create or update your script live;
        %li 
          = link 'Listing Scripts and Servers'
          shows the <code>list</code> command;
        %li 
          = link 'Deploying from CLI'
          is a walk through of how you can deploy
          an existing script without using the
          website.

%h4 Comments, Suggestions and Fixes

%p
  If you have any fixes for the documentation, please do one of the following:
  
  %ul
    %li
      = link 'fork our repo', 'http://github.com/stackfu/docs'
      in GitHub, make the changes, and send a pull request (always preferred) or;
    %li
      email 
      = "#{link_to 'docs@stackfu.com', 'mailto:docs@stackfu.com'},"
      if you don't want to get your hands dirty.
      
%p
  For comments or suggestions, just email 
  = "#{link_to 'docs@stackfu.com', 'mailto:docs@stackfu.com'}."
  
%h4 Support

%p
  If your question is not answered within this documentation, email us at
  = "#{link_to 'support@stackfu.com', 'mailto:support@stackfu.com'}."