--- 
title: Main
---

%h2 StackFu Documentation

%p This is the main resource for learning how to use StackFu. 

%p 
  For starters, we recommend you read our
  = link 'Installation'
  section and then head out to the 
  = "#{link 'Quick Start'}."
  It will give you a walk through of how you can create
  a new script in five minutes.
  
%p
  If you're interested on other topics, check out the following resources:
  
%table.toc
  %tr
    %td{ :width => '50%' }
      %h3 Writing Scripts

      %ul
        %li 
          = link 'Introduction', 'intro'
          will teach what a script consists of and
          how to properly describe your script;
        %li
          = link 'Controls'
          talks about what you need to setup to
          acquire input from the user when installing
          your script;
        %li
          = link 'Requirements'
          explains how to check an existing server
          environment for prerequisites before the
          installation start;
        %li
          = link 'Executions'
          section has a thorough explanation of how
          you can combine the power of Bash scripts
          with ERB templating to execute the tasks
          you need while installing;
        %li
          = link 'Validations'
          shows how to analyze the environment after
          the installation and determine whether it
          was successful or not.
    %td
      %h3 CLI Interface

      %ul
        %li 
          = link 'Commands'
          is a brief walk-through of all commands and
          what can be accomplished by the command line
          interface RubyGem;
        %li 
          = link 'Create'
          explains the command used to create new 
          scripts;
        %li 
          = link 'Dump'
          is the command used when to bring a script
          to your filesystem, so you can work on it and
          eventually publish. This is also the command
          used to "clone" other user's script;
        %li 
          = link 'Publish'
          will create or update your script live;
        %li 
          = link 'Listing Scripts and Servers'
          shows the <code>list</code> command;
        %li 
          = link 'Deploying from CLI'
          is a walk through of how you can deploy
          an existing script without using the
          website.

%h4 Comments, Suggestions and Fixes

%p
  If you have any comments or suggestions about this documentation, please
  email 
  = "#{link_to 'docs@stackfu.com', 'mailto:docs@stackfu.com'}."
  
%h4 Support

%p
  If your question is not answered within this documentation, email us at
  = "#{link_to 'support@stackfu.com', 'mailto:support@stackfu.com'}."